/**导航栏样式*/
.header{
    background-color: #fff;
    padding: .6rem;
    overflow: hidden;
    height: 3.8rem;
    border-bottom: 1px solid #eee;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0em;
    display: block;
}

.header-logo{
    color: black;
    height: 2.6rem;
    font-size: 2rem;
}

.header-txt{
    font-size: .8rem;
    color:#999;
    display: inline-block;
    padding-left: .5rem;
}
.ant-menu{
    line-height: 3.0rem;
}
.ant-menu-item{
    font-size: .9rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
}
.search{
    width:14rem;
    line-height: 2.8rem;
    margin-right: 2.5rem;
}
.btn-user{
    margin-left: 1rem;
}